
div{
    margin: 40px auto;
}

#grafico-01 {
    background-color: brown;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin: 40px auto;
}

#grafico-01 img{
    width: 100%;
    height: auto;
}

#grafico-02{
    background-color: blue;
    width: 60px;
    margin: 40px auto;
    border-style: solid;
    border-width: 60px 0 60px 120px;
    border-color: transparent transparent transparent red;
}

#imagem-vetorial{
    width: 200px;
    height: auto;
}